:root {
  /* Creamos la letra a usar */
  --font: "Roboto", sans-serif;
  --blanco: #fff;
  --fondo: #262626;
  --fondo_card: #000000E5;
  --gris: #e2e2e2;
  --negro: #000
}

body {
  margin: 0;
  font-family: var(--font);
  background: var(--fondo_card);
  color: var(--blanco);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100%;
}